# EKS configuration

replicaCount: 3

persistence:
  size: 750Gi
  storageClass: io1

scylladb:
  config:
    overprovisioned: 0
    cpu: 3
    memory: 3G
    endpointSnitch: Ec2Snitch

  resources:
    requests:
      cpu: 3000m
      memory: 3Gi

kairosdb:

  datastoreReplicationFactor: 3

  queueProcessor: org.kairosdb.core.queue.MemoryQueueProcessor
  defaultTtl: "86400"
  memoryQueueSize: "1000000"

  annotations:
    service.beta.kubernetes.io/aws-load-balancer-internal: '0.0.0.0/0'

  service:
    type: LoadBalancer
    externalPort: 80

  resources:
    requests:
      cpu: 1000m
      memory: 1Gi

global:
  image:
    pullPolicy: Always